body {
    background-color: rgb(237, 243, 245);
}

#calculator-body {
    display: grid;
    width: 750px;
    height: 750px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "display display display display display"
        "seven eight nine divide clear"
        "four five six multiply clear"
        "one two three subtract clear"
        "zero decimal equals add clear";

    column-gap: 10px;
    row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    border: 8px solid rgb(118, 120, 121);
    border-radius: 20px;
    padding: 20px;
}

#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#divide {
    grid-area: divide;
}

#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#multiply {
    grid-area: multiply;
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#subtract {
    grid-area: subtract;
}

#zero {
    grid-area: zero;
}
#decimal {
    grid-area: decimal;
}
#equals {
    grid-area: equals;
}
#add {
    grid-area: add;
}

#clear{
    grid-area: clear;
}

#display {
    display: flex;
    font-size: 32px;
    border: 2px solid rgb(118, 120, 121);
    grid-area: display;
    justify-content: flex-end;
    padding: 15px;
    align-items: center;
}

.calc-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 2px solid rgb(118, 120, 121);
    border-radius: 20px;
}

.calc-button:hover {
    border: 2px solid rgb(73, 151, 190);
    cursor: pointer;
}


